<h1>{{name}}</h1>
<dl>
	<dt>Description</dt>
	<dd>{{description}}</dd>
	<dt>Status</dt>
	<dd>{{status}}</dd>
	<dt>Max Cores</dt>
	<dd>{{maxCores}}</dd>
</dl>
<script src="{{asset "/instance-tab.js"}}" ></script>
