<h1>{{name}}</h1>
<dl>
	<dt>Description</dt>
	<dd>{{description}}</dd>
	<dt>Status</dt>
	<dd>{{status}}</dd>
	<dt>Max Cores</dt>
	<dd>{{maxCores}}</dd>
</dl>
<script src="{{asset "/instance-tab.js"}}" ></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<iframe src="https://www.digitalocean.com/" title="Digital Ocean Home Page"></iframe>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<img src="https://upload.wikimedia.org/wikipedia/commons/3/36/Groovy-logo.svg" alt="Groovy Logo" />
