<h1>Hello There {{displayName}}</h1>
<dl>
	<dt>server Type</dt>
	<dd>{{serverTypeName}}</dd>
	<dt>Host Name</dt>
	<dd>{{hostname}}</dd>
	<dt>max cores</dt>
	<dd>{{maxCores}}</dt>
</dl>
<script src="{{asset "/server-tab.js"}}" ></script>

