<head>
  <script src="{{asset "/jquery.min.js"}}"></script>
  <script src='{{asset "/Chart.min.js"}}'></script>
  <meta http-equiv="Content-Security-Policy" content="default-src https://cdnjs.cloudflare.com; script-src 'unsafe-eval' https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js https://cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js; object-src 'none'">
  <script src="{{asset "/costreport.css"}}" ></script>

  <style class="INLINE_PEN_STYLESHEET_ID">
     @import url(https://fonts.googleapis.com/css?family=Dosis:300|Lato:300,400,600,700|Roboto+Condensed:300,700|Open+Sans+Condensed:300,600|Open+Sans:400,300,600,700|Maven+Pro:400,700);
 @import url("https://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
 * {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
 }

 html, body {
   background-color: #202B33;
   color: #738491;
   font-family: "Open Sans";
   font-size: 16px;
   font-smoothing: antialiased;
   overflow: hidden;
 }

 header1 {
   color: #D3D3D3;
 }

 nav1 {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 82%;
   left: 0;
   padding: 22px;
   border-right: 2px solid #161e23;
 }
 nav1 > header1 {
   font-weight: 700;
   font-size: 1.2rem;
   text-transform: uppercase;
 }
 nav1 section {
   font-weight: 600;
 }
 nav1 section header1 {
   padding-top: 30px;
 }
 nav1 section ul {
   list-style: none;
   padding: 0px;
 }
 nav1 section ul li {
   position: relative;
   padding: 10px 0px;
 }
 nav1 section ul li.active {
   color: #2278AE;
 }
 nav1 section ul li:after {
   content: attr(data-value);
   position: absolute;
   right: 0px;
   width: 19px;
   background-color: #738491;
   font-size: 0.9rem;
   color: #202B33;
   -moz-border-radius: 19px;
   -webkit-border-radius: 19px;
   border-radius: 19px;
   text-align: center;
 }
 nav1 section ul li.red:after {
   content: '';
   position: absolute;
   top: 14px;
   right: 0px;
   width: 10px;
   height: 10px;
   background-color: #ec487f;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
 }
 nav1 section ul li.yellow:after {
   content: '';
   position: absolute;
   top: 14px;
   right: 0px;
   width: 10px;
   height: 10px;
   background-color: #ea8e39;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
 }
 nav1 section ul li.green:after {
   content: '';
   position: absolute;
   top: 14px;
   right: 0px;
   width: 10px;
   height: 10px;
   background-color: #38af5b;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
 }
 nav1 section ul li.new {
   font-size: 0.9rem;
   color: #545f68;
 }

 article1 {
   position: absolute;
   top: 0;
   bottom: 0;
   right: 0;
   left: 18%;
   overflow: auto;
   border-left: 2px solid #2a3843;
   padding: 20px;
 }
 article1 > header1 {
   height: 60px;
   border-bottom: 1px solid #2a3843;
 }
 article1 > header1 .title {
   float: left;
   font-size: 1.3rem;
   font-weight: 600;
 }
 article1 > header1 .user {
   float: right;
   width: 48px;
   height: 48px;
   background-image: url("https://s3.amazonaws.com/uifaces/faces/twitter/peterlandt/48.jpg");
   -moz-border-radius: 48px;
   -webkit-border-radius: 48px;
   border-radius: 48px;
   margin-left: 20px;
 }
 article1 > header1 .interval {
   float: right;
 }
 article1 > header1 .interval ul {
   padding: 0;
   list-style: none;
 }
 article1 > header1 .interval ul li {
   float: right;
   text-transform: uppercase;
   font-size: 0.9rem;
   font-weight: 600;
   padding: 2px 10px;
   margin: 0px 10px;
 }
 article1 > header1 .interval ul li.active {
   background-color: #D3D3D3;
   color: #202B33;
   -moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
 }
 article1 section {
   margin-top: 20px;
   margin-bottom: 20px;
 }
 article1 section > header1 {
   margin-bottom: 20px;
   font-size: 1.1rem;
   font-weight: 600;
 }
 article1 section .chart {
   height: 200px;
 }
 article1 section .inlineChart {
   float: left;
   width: 30%;
   margin-bottom: 50px;
 }
 article1 section .inlineChart canvas {
   float: left;
 }
 article1 section .inlineChart .info {
   float: left;
   padding-left: 20px;
   padding-top: 16px;
 }
 article1 section .inlineChart .info .value {
   font-size: 2.0rem;
   color: #D3D3D3;
 }
 article1 section table {
   width: 100%;
 }
 article1 section table th, article1 section table td {
   padding: 15px 0px;
   border-bottom: 1px solid #2a3843;
 }
 article1 section table thead th {
   text-align: left;
   font-size: 0.9rem;
   text-transform: uppercase;
   color: #D3D3D3;
 }

   </style>

</head>


<nav1>
  <header1>Sales Report</header1>
  <section>
    <header1>Main</header1>
    <ul>
      <li class="active">Dashboard</li>
      <li data-value="8">Reports</li>
      <li>Groups</li>
    </ul>
  </section>
  <section>
    <header1>Account</header1>
    <ul>
      <li>Activity</li>
      <li data-value="4">Messages</li>
      <li>Downloads</li>
    </ul>
  </section>
  <section>
    <header1>Categories</header1>
    <ul>
      <li class="red">Credit Sales</li>
      <li class="yellow">Channel Sales</li>
      <li class="green">Direct Sales</li>
      <li class="new"> <i class="fa fa-plus-circle"> </i> Add Category</li>
    </ul>
  </section>
</nav1>
<article1>
  <header1>
    <div class="title">Dashboard</div>
    <div class="user"></div>
    <div class="interval">
      <ul>
        <li>Weekly</li>
        <li class="active">Monthly</li>
      </ul>
    </div>
  </header1>
  <section>
    <div class="chart">
      <canvas id="c1" width="900" height="200"></canvas>
    </div>
  </section>
  <section>
    <header1>Total Sales</header1>
    <div class="inlineChart">
      <canvas id="c2" width="100" height="100"></canvas>
      <div class="info">
        <div class="value">$36,146</div>
        <div class="title">Credit sales</div>
      </div>
    </div>
    <div class="inlineChart">
      <canvas id="c3" width="100" height="100"></canvas>
      <div class="info">
        <div class="value">$24,734</div>
        <div class="title">Channel Sales</div>
      </div>
    </div>
    <div class="inlineChart">
      <canvas id="c4" width="100" height="100"></canvas>
      <div class="info">
        <div class="value">$15,650</div>
        <div class="title">Direct Sales</div>
      </div>
    </div>
  </section>
  <section>
    <table>
      <thead>
        <tr>
          <th>November Sales</th>
          <th>Quantity</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Dallas Oak Dining Chair</td>
          <td>20</td>
          <td>$1,342</td>
        </tr>
        <tr>
          <td>Benmore Glass Coffee Table</td>
          <td>18</td>
          <td>$1,550</td>
        </tr>
        <tr>
          <td>Aoraki Leather Sofa</td>
          <td>15</td>
          <td>$4,170</td>
        </tr>
        <tr>
          <td>Bali Outdoor Wicker Chair</td>
          <td>25</td>
          <td>$2,974</td>
        </tr>
      </tbody>
    </table>
  </section>
</article1>

<script src="{{asset "/jquery.min.js"}}"></script>
<script src="{{asset "/jquery.min.js"}}"></script>
<script src='{{asset "/Chart.min.js"}}'></script>
<script src="{{asset "/Chart.js"}}" ></script>
<script src="{{asset "/Chart.min.js"}}" ></script>
<script src="{{asset "/costreport.js"}}" ></script>
    